body{
    margin: 0;
    padding: 0;
}
body{
    background: #000000
}

@font-face{
	font-family: "printable4u";
	src: url(../fonts/printable4u.ttf);
}

@font-face{
	font-family: "active";
	src: url(../fonts/active.ttf);
}
.text1{
    color: white;
    padding: 25px;
    font-family: "printable4u";
    font-size: 50px;
    font-weight: 500;
    margin-bottom: 20px;
    position: relative;
}

.text2{
    color: white;
    padding: 30px;
    font-family: "active";
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 20px;
    position: relative;
}
.text3{
    color: white;
    padding: 30px;
    font-family: "active";
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 20px;
    position: relative;
}

.header p {
    font-size: 20px;
    padding: 25px;
    margin: 0 0 -12px;
	color: #4995fa;
}
.header a {
	font-size: 20px;
	color: #4995fa;
	text-decoration: none;
}
.btn{
    background: none;
    padding: 10px 20px;
    font-size: 30px;
    font-family: "active";
    cursor: pointer;
    margin: 280px;
    transition: 0.8s;
    position: relative;
    overflow: hidden;
}
.btn1{
    margin-top: 50px;
    color: #3498db;

}
.btn1:hover{
    color: #fff;
}
.btn::before{
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 0%;
    background: #3498db;
    z-index: -1;
    transition: 0.8s;
}
.btn1::before{
    top: 0;
    border-radius: 0 0 50% 50%;
 }
.btn1:hover::before{
   height: 180%;
}
